<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GestBookRazorPages</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GestBookRazorPages.styles.css" asp-append-version="true" />
</head>
<body>
  <header style="background-color:azure">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="background-color:azure">
            <div class="container-fluid" style="background-color:azure">
                <a class="navbar-brand card2" asp-area="" asp-controller="Home" asp-action="Index">Гостевая книга</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @using Microsoft.AspNetCore.Http

                    @if (Context.Session.GetString("login") != null)
                    {
                       
                       <form method="post" asp-page="Login">
                              <div class="navbar-collapse collapse d-sm-inline-flex c c1">
                            <span style="margin-left:50px;">
                                Здравствуйте, @Context.Session.GetString("login")&nbsp;&nbsp;
                            </span>
                            <div>
                                <input type="submit" value="Выйти" />
                                </div>
                            </div>
                        </form>

                    }
                    else{ 
                    <ul class="navbar-nav flex-grow-1 c c1">
                        <li class="nav-item">
                            <a class="nav-link text-dark card2" asp-area="" asp-page="Login">Войти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark card2" asp-area="" asp-page="Registration">Зарегестрироваться</a>
                        </li>
                    </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - GestBookRazorPages 
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>