@page
@model IndexModel
@{
    ViewData["Title"] = "Гостевая книга";
}

<div class="text-center">
    <h1 class="display-4 card1">Гостевая книга</h1>
</div>
@if (this.HttpContext.Session.GetString("login") != null)
{

    <form method="post" asp-page="Message">
        <br>
        <br>
        <div class="card">
                <textarea name="text"></textarea>          
            </div>
        <div>
            <br>
            <input type="submit" value="Добавить отзыв" />
        </div>
    </form>
  
}
<hr />

@* @foreach(var m in Model.list)
{
    <div >
         <div>@m.user.Name</div>
         <div class="card">@m.Text</div>
         <div class="c">@m.MessageDate</div>
     </div>
     <hr />   
}
 *@